<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>实时查询</title>
    <link rel="stylesheet" href="../layui-v2.5.5">
    <script src="../../../static/myApp/layui/layui.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/myApp/layui/css/layui.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-col-md3">
            <div class="layui-logo">
                <img src="../static/imag/logo.png" class="layui-nav-img">
                <span style="font-size: 15px;color: #FFB800;">"一报告两评议"系统</span>
            </div>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    一级管理员
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <dd>
                        <a href="/myApp/Manager/inform/">发布通知</a>
                    </dd>
                    <dd>
                        <a href="/myApp/Admin/register/">注册二级管理员</a>
                    </dd>
                    <dd>
                        <a href="/myApp/Admin/ctl/">管理二级管理员</a>
                    </dd>
                    <dd>
                        <a href="/myApp/Admin/canditate/">导入被评人</a>
                    </dd>
                    <dd>
                        <a href="/myApp/Admin/result/">查看评议结果</a>
                    </dd>
                    <dd>
                        <a href="/myApp/Admin/check/">实时查询</a>
                    </dd>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-container" style="margin-top: 30px;">
                <div class="layui-tab">
                    <ul class="layui-tab-title">
                        <li class="layui-this">已评议账号</li>
                        <li>未评议账号</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show"><!--内容1-->

                            <div class="layui-row">
                                <div class="layui-col-md9">
                                    <form class="layui-form" action="">

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">二级单位</label>
                                            <div class="layui-input-block">
                                                <select name="city" lay-verify="required" placeholder="请选择二级单位名称">

                                                    <option value=""></option>
                                                    <option value="安太堡露天矿">安太堡露天矿</option>
                                                    <option value="安家岭露天矿">安家岭露天矿</option>
                                                    <option value="东露天矿">东露天矿</option>
                                                    <option value="中煤平朔集团有限公司">中煤平朔集团有限公司</option>
                                                    <option value="井工一矿">井工一矿</option>
                                                    <option value="井工二矿">井工二矿</option>
                                                </select>
                                            </div>
                                        </div>

                                    </form>

                                </div>

                                <div class="layui-col-md11">

                                    <table id="demo1" lay-filter="test"></table>

                                </div>

                            </div>

                        </div>
                        <div class="layui-tab-item"><!--内容2-->
                            <div class="layui-row">
                                <div class="layui-col-md9">
                                    <form class="layui-form" action="">

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">二级单位</label>
                                            <div class="layui-input-block">
                                                <select name="city" lay-verify="required" placeholder="请选择二级单位名称">

                                                    <option value=""></option>
                                                    <option value="平朔集团1">平朔集团1</option>
                                                    <option value="平朔集团2">平朔集团2</option>
                                                    <option value="平朔集团3">平朔集团3</option>
                                                </select>
                                            </div>
                                        </div>

                                    </form>

                                </div>


                            </div>
                            <table id="demo2" class="layui-table">

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="layui-footer">
    <!-- 底部固定区域 -->
    © 平朔集团
</div>
</div>

<script src="../../../static/myApp/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function () {
        var table = layui.table;

    });
</script>


<script>
    //JavaScript代码区域
    var url = "/myApp/Admin/finishlist";
    layui.use('element', function () {
        var element = layui.element;

    });

    layui.use('form', function () {
        var form = layui.form;
        form.on('select', function (data) {
            url = url + "?secondDepart=" + data.value
            console.log(data.value); //得到被选中的值

            var element = document.getElementById('demo2');
            console.log(element.childNodes);

            layui.use('table', function () {
                var table = layui.table;

                table.render({
                    elem: '#demo1'
                    , height: 505
                    , url: url //数据接口
                    , page: true //开启分页
                    , cols:
                        [[ //表头
                            {field: 'uname', title: 'ID', width: 80, sort: true, fixed: 'left'}
                        ]]
                    , done: function () {
                        url = "/myApp/Admin/finishlist";
                    }
                });
                table.render({
                    elem: '#demo2'
                    , height: 505
                    , url: url //数据接口
                    , page: true //开启分页
                    , cols:
                        [[ //表头
                            {field: 'uname', title: 'ID', width: 80, sort: true, fixed: 'left'}
                        ]]
                    , done: function () {
                        url = "/myApp/Admin/finishlist"
                    }
                });

            })
        });
    })

</script>

</body>
</html>